<link rel="stylesheet" href="/css/login.css">

<div class="container-fluid">
    <div class="card mx-auto col-md-4 mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-6 d-flex flex-row">
                    <button id="login" class="btn btn-outline-dark">
                        <h5 class="card-title">Login</h5>
                    </button>
                </div>
                <div class="col-6 d-flex flex-row-reverse">
                        <button id="signup" class="btn btn-outline-dark">
                            <h5 class="card-title">Signup</h5>
                        </button>
                </div>
            </div>
            <form class="mt-5">
                <label class="card-text mx-auto row mt-3" for="user_name">username</label>
                <input type="text" id="user_name" class="form-control mt-2" autocomplete="user_name" />
                <label class="card-text mx-auto row mt-3" for="password">password</label>
                <input type="password" id="password" class="form-control mt-2" autocomplete="password" />
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="/js/login.js"></script>